  <config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <enable operation="replace">
        <password>
          <secret>secret</secret>
        </password>
      </enable>
    </native>
  </config>
