  <config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <interface operation="replace">
        {% for int in host.facts.interfaces.GigEthernet %}
        <GigabitEthernet>
          <name>{{ int.name }}</name>
          {% if int.description is defined %}
          <description>{{ int.description }}</description>
          {% endif %}
          {% if int.shutdown is defined %}
          <shutdown/>
          {% endif %}
          {% if int.vrf is defined %}
          <vrf>
            <forwarding>MGMT</forwarding>
          </vrf>
          {% if int.ip is defined %}
          <ip>
          {% endif %}
            <address>
              <primary>
                <address>{{ int.ip }}</address>
                <mask>{{ int.mask }}</mask>
              </primary>
            </address>
           </ip> 
           {% elif int.unnumbered is defined %}
           <ip>
            <unnumbered>{{ int.unnumbered }}</unnumbered>
            <router-ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
              <ospf>
                <process-id>
                  <id>1</id>
                  <area>
                    <area-id>0</area-id>
                  </area>
                </process-id>
                <network>
                  <point-to-point/>
                </network>
              </ospf>
            </router-ospf>
          </ip>
          {% endif %}
          <logging>
            <event>
              <link-status/>
            </event>
          </logging>
          <mop>
            <enabled>false</enabled>
            <sysid>false</sysid>
          </mop>
          <negotiation xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ethernet">
            <auto>true</auto>
          </negotiation>
        </GigabitEthernet>
        {% endfor %}
        {% for int in host.facts.interfaces.Loopback %}
        <Loopback>
          <name>{{ int.name }}</name>
          <description>{{ int.description }}</description>
          <ip>
            <address>
              <primary>
                <address>{{ int.ip }}</address>
                <mask>{{ int.mask }}</mask>
              </primary>
            </address>
          </ip>
          <logging>
            <event>
              <link-status/>
            </event>
          </logging>
        </Loopback>
        {% endfor %}
      </interface>
    </native>
  </config>